@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=League+Spartan:wght@800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  font-size: 62.5%;
  --grey-dark: #242734;
  --grey-light: #323647;
  --link-off: #656772;
  --text-off: #bcbabc;
  --highlight: #dcf64b;
  --white-default: #eee;

  --font-default: "Libre Baskerville", serif;
  --font-attention: "League Spartan", sans-serif;
  --font-logo: "Comfortaa";
}

/* temp */
header {
  /* border: 0.1rem solid lightblue; */
}

.name {
  /* border: 0.2rem solid lightseagreen; */
}
.about {
  /* border: 0.2rem solid lightcoral; */
}

.about-plus {
  /* border: 0.2rem solid lime; */
}
.about-plus .about-me-plus {
  /* border: 0.2rem solid lightgreen; */
}

.about-plus .social-media {
  /* border: 0.2rem solid lightpink; */
}

/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Body */
body {
  font-family: var(--font-default);
  font-size: 2.4rem;
  margin: 0 24rem;
  background-color: var(--grey-light);
  color: var(--text-off);
}
/* Header */
header {
  margin: 8rem 0;
}
nav {
  display: flex;
  justify-content: flex-end;
}

nav::before {
  content: "be.academy";
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 0.3;
  width: 100%;
  color: var(--highlight);
}

header .intro {
  display: flex;
}
.menu {
  display: flex;
  width: 50%;
  text-transform: uppercase;
  /* font-style: italic; */
  font-weight: 700;
  color: var(--link-off);
  justify-content: space-between;
}

.name {
  font-family: var(--font-attention);
  color: var(--white-default);
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
  width: 100%;
  margin-top: 10rem;
  letter-spacing: 0.3rem;
}

.intro .name h1 span:first-of-type {
  color: var(--highlight);
  padding-left: 10rem;
}
.intro .name h1 span:last-of-type {
  padding-left: 20rem;
}

.intro .name h1 span .dot {
  padding-left: 0;
  font-size: 130%;
}

.intro .name h2 {
  color: var(--highlight);
}
.intro .about {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
  max-width: 60rem;
  margin-top: 10rem;
}

.intro .about h5 {
  letter-spacing: 0.2rem;
}

.intro .about h2 {
  font-style: italic;
  color: var(--white-default);
  margin: 3rem 0;
}

.intro .about p {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.dot {
  color: var(--highlight);
  line-height: 0;
  font-size: 180%;
}

.about-plus {
  display: flex;
  padding-top: 10rem;
}

.about-plus .social-media {
  margin-right: auto;
  align-self: center;
}

.about-plus .social-media ul {
  display: flex;
  color: var(--white-default);
}

.about-plus .social-media ul li {
  display: flex;
  margin: 0 1rem;
}
.about-plus .about-me-plus {
  min-width: 59.6rem;
}

.about-plus .about-me-plus h2 {
  font-size: 2rem;
  color: var(--highlight);
  /* border-bottom: 0.2rem solid red; */
}
.about-plus .about-me-plus h2 span:first-child {
  font-style: italic;
  text-decoration-line: underline;
}
