@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=League+Spartan:wght@800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  font-size: 62.5%;
  --grey-dark: #242734;
  --grey-light: #323647;
  --grey-light-2: #424657;
  --link-off: #656772;
  --text-off: #bcbabc;
  --highlight: #dcf64b;
  --white-default: #eee;

  --font-default: "Libre Baskerville", serif;
  --font-attention: "League Spartan", sans-serif;
  --font-logo: "Comfortaa";

  --margin-top: 10rem;
}

/* s-success */

/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Body */
body {
  font-family: var(--font-default);
  font-size: 2.4rem;
  background-color: var(--grey-light);
  color: var(--text-off);
}

.container {
  margin: 0 24rem;
  padding: 0 2rem;
}

.dot {
  color: var(--highlight);
  line-height: 0;
  font-size: 180%;
}

.text-highlight {
  font-style: italic;
  color: var(--white-default);
  margin: 3rem 0;
}

.text-default {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.link {
  font-size: 2rem;
  color: var(--highlight);
}
.link span:first-child {
  font-style: italic;
  text-decoration-line: underline;
}

/* Header */
header {
  margin-top: var(--margin-top);
}
nav {
  display: flex;
  justify-content: flex-end;
}

nav::before {
  content: "be.academy";
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 0.3;
  width: 100%;
  color: var(--highlight);
}

.menu {
  display: flex;
  width: 50%;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--link-off);
  justify-content: space-between;
}

/* Section s-hero */

.s-hero {
  margin-top: var(--margin-top);
}
.s-hero div {
  display: flex;
}
.s-hero .name {
  font-family: var(--font-attention);
  color: var(--white-default);
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
  width: 100%;
  letter-spacing: 0.3rem;
  flex-direction: column;
}

.s-hero .name h1 span:first-of-type {
  color: var(--highlight);
  padding-left: 10rem;
}
.s-hero .name h1 span:last-of-type {
  padding-left: 20rem;
}

.s-hero .name h1 span .dot {
  padding-left: 0;
  font-size: 130%;
}

.s-hero .name h2 {
  color: var(--highlight);
}
.s-hero .about {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
  max-width: 46.5rem;
}

.s-hero .about h5 {
  letter-spacing: 0.2rem;
}

.s-hero .about-plus {
  margin-top: var(--margin-top);
}

.s-hero .about-plus .social-media {
  margin-right: auto;
  align-self: center;
}

.s-hero .about-plus .social-media ul {
  display: flex;
  color: var(--white-default);
}

.s-hero .about-plus .social-media ul li {
  display: flex;
  margin: 0 1rem;
}
.s-hero .about-plus .about-me-plus {
  min-width: 46.5rem;
}
/* Section s-success */
.s-success {
  background-color: var(--grey-dark);
  margin-top: var(--margin-top);
  padding-top: var(--margin-top);
}

.s-success .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.s-success .container h6 {
  font-size: 1.4rem;
  position: absolute;
}
.s-success .container h6 + h2 {
  position: absolute;
}
.s-success .container .contato-email .link {
  margin-top: 2rem;
}
.s-success .container .quote {
  max-width: 55rem;
}

.s-success .container .quote p:last-child {
  margin-top: 2rem;
}

.s-success .container:nth-child(2) {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top);
}
.s-success .cards {
  display: flex;
}
.s-success .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--grey-light-2);
  transform: translateY(14rem);
  border-radius: 4px;
  height: 20rem;
  width: 40rem;
}

.s-success .cards .card:nth-child(2) {
  margin: 0 3rem;
}

.s-success .container .cards .card:nth-child(1) img {
  width: 6rem;
}

.s-success .container .cards .card:nth-child(2) img {
  width: 5rem;
}

.s-success .container .cards .card:nth-child(3) img {
  width: 7rem;
}
/* Section resume-me */
.s-resume {
  background-color: #323647;
}

.s-resume .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 60rem;
}

.s-resume .container .tech-stack {
  display: flex;
  justify-content: center;
  margin-top: 14.4rem;
  width: 100%;
}

.s-resume .container .tech-stack ul {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin-top: var(--margin-top);
  flex-wrap: wrap;
}

.s-resume .container .tech-stack ul li {
  font-size: 10rem;
  margin: 0 3rem;
  color: var(--link-off);
  color: var(--grey-dark);
}

/* Section about */
.about-me {
  margin-top: var(--margin-top);
  background-color: var(--grey-dark);
}
.about-me .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 60rem;
}
