@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=League+Spartan:wght@800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  font-size: 62.5%;
  --grey-dark: #242734;
  --grey-light: #323647;
  --grey-light-2: #424657;
  --link-off: #656772;
  --text-off: #bcbabc;
  --highlight: #dcf64b;
  --white-default: #eee;

  --font-default: "Libre Baskerville", serif;
  --font-attention: "League Spartan", sans-serif;
  --font-logo: "Comfortaa";

  --margin-top: 10rem;
}

/* s-success */

/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  all: unset;
}

/* Body */
body {
  font-family: var(--font-default);
  font-size: 2.4rem;
  background-color: var(--grey-light);
  color: var(--text-off);
}

.container {
  margin: 0 24rem;
  padding: 0 2rem;
}

.dot {
  color: var(--highlight);
  line-height: 0;
  font-size: 180%;
}

.text-highlight {
  font-style: italic;
  color: var(--white-default);
  margin: 3rem 0;
}

.text-default {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.link {
  font-size: 2rem;
  color: var(--highlight);
}
.link span:first-child {
  font-style: italic;
  /* text-decoration-line: underline; */
}

.link a:hover {
  color: var(--white-default);
  text-decoration-line: underline;
  cursor: pointer;
}
.link a:hover + .arrow {
  border-color: var(--highlight);
  box-shadow: 0.5vmin -0.5vmin 0 var(--link-off);
}
.arrow {
  position: absolute;
  transform: rotate(45deg);
  margin: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  border-top: 0.5rem solid var(--white-default);
  border-right: 0.5rem solid var(--white-default);
  box-shadow: 0 0 0 var(--highlight);
  transition: all 200ms ease;
}

/* Header */
header {
  margin-top: var(--margin-top);
}
nav {
  display: flex;
  justify-content: flex-end;
}

nav::before {
  content: "be.academy";
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 0.3;
  width: 50%;
  color: var(--highlight);
}

.menu {
  display: flex;
  width: 50%;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--link-off);
  justify-content: space-between;
}

.menu li a:hover {
  color: var(--white-default);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.menu li a:hover > .dot-menu {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.dot-menu {
  position: absolute;
  bottom: -1rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--highlight);
  border-radius: 50%;
  opacity: 0;
}

/* Section s-hero */

.s-hero {
  margin-top: var(--margin-top);
}
.s-hero div {
  display: flex;
}
.s-hero .name {
  font-family: var(--font-attention);
  color: var(--white-default);
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
  width: 100%;
  letter-spacing: 0.3rem;
  flex-direction: column;
}

.s-hero .name h1 span:first-of-type {
  color: var(--highlight);
  padding-left: 10rem;
}
.s-hero .name h1 span:last-of-type {
  padding-left: 20rem;
}

.s-hero .name h1 span .dot {
  padding-left: 0;
  font-size: 130%;
}

.s-hero .name h2 {
  color: var(--highlight);
}
.s-hero .about {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
  max-width: 46.5rem;
}

.s-hero .about h5 {
  letter-spacing: 0.2rem;
}

.s-hero .about-plus {
  margin-top: var(--margin-top);
}

.s-hero .about-plus .social-media {
  margin-right: auto;
  align-self: center;
}

.s-hero .about-plus .social-media ul {
  display: flex;
  flex-direction: row-reverse;
  color: var(--white-default);
}

.s-hero .about-plus .social-media ul li {
  display: flex;
  margin: 0 1rem;
}

.s-hero .about-plus .social-media ul li:last-child {
  color: var(--highlight);
  transition: all 0.3s ease-in-out;
}

.s-hero .about-plus .social-media ul li:hover {
  cursor: pointer;
  color: var(--highlight);
}

.s-hero .about-plus .social-media ul li:hover ~ li:last-child {
  color: var(--white-default);
}

.s-hero .about-plus .about-me-plus {
  min-width: 46.5rem;
}

/* Section s-success */
.s-success {
  background-color: var(--grey-dark);
  margin-top: var(--margin-top);
  padding-top: var(--margin-top);
}

.s-success .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.s-success .container h6 {
  font-size: 1.4rem;
  position: absolute;
}
.s-success .container h6 + h2 {
  position: absolute;
}
.s-success .container .contato-email .link {
  margin-top: 2rem;
}
.s-success .container .quote {
  max-width: 55rem;
}

.s-success .container .quote p:last-child {
  margin-top: 2rem;
}

.s-success .container:nth-child(2) {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top);
}
.s-success .cards {
  display: flex;
}
.s-success .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--grey-light-2);
  transform: translateY(14rem);
  border-radius: 4px;
  height: 20rem;
  width: 40rem;
}

.s-success .cards .card:nth-child(2) {
  margin: 0 3rem;
}

.s-success .container .cards .card:nth-child(1) img {
  width: 6rem;
}

.s-success .container .cards .card:nth-child(2) img {
  width: 5rem;
}

.s-success .container .cards .card:nth-child(3) img {
  width: 7rem;
}

/* Section resume-me */
.s-resume {
  background-color: #323647;
}

.s-resume .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 60rem;
}

.s-resume .container .tech-stack {
  display: flex;
  justify-content: center;
  margin-top: 14.4rem;
  width: 100%;
}

.s-resume .container .tech-stack ul {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin-top: var(--margin-top);
  flex-wrap: wrap;
}

.s-resume .container .tech-stack ul li {
  font-size: 10rem;
  margin: 0 3rem;
  color: var(--link-off);
  color: var(--grey-dark);
}

/* Section about */
.about-me {
  /* margin-top: var(--margin-top); */
  background-color: var(--grey-dark);
}
.about-me .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 60rem;
}

.about-me .container .photo {
  width: 30rem;
  height: 30rem;
  background-color: var(--grey-light);
}

.about-me .container .who-i-am {
  max-width: 90rem;
  text-align: justify;
}

/* Section s-projects */
.s-projects {
  /* margin-top: var(--margin-top); */
}
.swiper {
  width: 80%;
  padding-bottom: 5rem;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide img {
  width: 100%;
}

/* Section s-contact */
.s-contact {
  margin-top: var(--margin-top);
  background-color: var(--grey-dark);
}

.s-contact .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--margin-top);
}
.s-contact .container h2 {
  font-size: 5rem;
  width: 50%;
}
.s-contact .container h2 span:first-of-type {
  margin-left: 8rem;
}

.s-contact .container h2 span:nth-of-type(2) {
  margin-left: 12rem;
}
.s-contact .container .contact-form {
  width: 50%;
  margin-top: var(--margin-top);
}

.s-contact .container .contact-form .input-group input[type="text"],
.s-contact .container .contact-form .input-group input[type="email"] {
  margin-bottom: 2rem;
}
.s-contact .container .contact-form .input-group:last-of-type {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.7rem;
}

.btn-primary {
  border-radius: 0.4rem;
  font-weight: bold;
  background-color: var(--grey-light);
  color: var(--white-default);
  padding: 1rem 3rem;
  border-color: var(--grey-light-2);
}

.btn-primary:hover {
  background-color: var(--highlight);
  color: var(--grey-dark);
}

input[type="text"],
input[type="email"],
textarea {
  background-color: var(--link-off);
  border: 0.2rem solid var(--grey-light);
  border-radius: 0.4rem;
  width: 100%;
  padding: 1rem;
  resize: none;
  color: var(--white-default);
  outline: none;
  transition: all 0.4s;
}

/* Footer */
footer {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .text-default {
  font-size: 1.2rem;
}
footer p span:first-child {
  color: #dcf64b;
  font-family: "Comfortaa";
}

footer p span:last-child {
  color: #fff;
  font-weight: bold;
}
